.App{
    width: 1350px;
    margin: auto 0;
    background: url(./images/background.gif) no-repeat;
    background-size: 100%;
    background-position: center;
    height: 600px;
}

.contant{
    display: flex;
    flex-direction: column;
    align-items: center;
}